@import 
url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import
url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: .5s;
}
.content {
  position: absolute;
  width:inherit;
  height: inherit;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top , crimson , transparent);
  color: #fff;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
  transition: .5s;
}
.content h2 {
  font-size: 30px;
}
.content h2 span {
  display: block;
  font-size: 14px;
  color: gold;
  margin-top: 10px;
}
.sns a {
  border: 1px solid white;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.card:hover .content {
  top: 0;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(34, 34, 34, 0.151);
}
.card:nth-child(1) .content {
  background: linear-gradient(to top, crimson , transparent);
}
.card:nth-child(2) .content {
  background: linear-gradient(to top, dodgerblue , transparent);
}
.card:nth-child(3) .content {
  background: linear-gradient(to top, yellowgreen , transparent);
}